Data Cleaning and Preprocessing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

load data

In [2]:
df=pd.read_csv("../dataset/data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   team            3764 non-null   object
 1   opponent        3764 non-null   object
 2   homePct(%)      3764 non-null   int64
 3   awayPct(%)      3764 non-null   int64
 4   awayShot        3764 non-null   int64
 5   awayShotOnGoal  3764 non-null   int64
 6   homeShot        3764 non-null   int64
 7   homeShotOnGoal  3764 non-null   int64
 8   goal            3764 non-null   int64
 9   opGoal          3764 non-null   int64
 10  session         3764 non-null   object
 11  corner          3764 non-null   int64
 12  opcorner        3764 non-null   int64
 13  id              3764 non-null   int64
 14  result          3764 non-null   int64
dtypes: int64(12), object(3)
memory usage: 441.2+ KB

Missing Values

In [4]:
df.isnull().sum()

team              0
opponent          0
homePct(%)        0
awayPct(%)        0
awayShot          0
awayShotOnGoal    0
homeShot          0
homeShotOnGoal    0
goal              0
opGoal            0
session           0
corner            0
opcorner          0
id                0
result            0
dtype: int64

fill possesion =0 with mean

In [5]:
indexNZero = list(df[df['homePct(%)'] != 0].index)
mean = np.mean(list(df.iloc[indexNZero]['homePct(%)']))
df['homePct(%)'] = df['homePct(%)'].apply(lambda x: mean if x == 0 else x)
indexNZero = list(df[df['awayPct(%)'] != 0].index)
mean = np.mean(list(df.iloc[indexNZero]['awayPct(%)']))
df['awayPct(%)'] = df['awayPct(%)'].apply(lambda x: mean if x == 0 else x)

Remove data duplicates

In [6]:
df.drop_duplicates()

,team,opponent,homePct(%),awayPct(%),awayShot,awayShotOnGoal,homeShot,homeShotOnGoal,goal,opGoal,session,corner,opcorner,id,result
0,Newcastle United,Everton,50.0,50.0,13,6,17,5,1,2,2012-2013 Barclays Premier League,4,6,345665,0
1,Wigan Athletic,Manchester United,53.0,47.0,15,7,8,0,0,4,2012-2013 Barclays Premier League,1,6,345667,0
2,Southampton,Arsenal,44.0,56.0,6,1,9,5,1,1,2012-2013 Barclays Premier League,3,3,345889,1
3,Liverpool,Sunderland,66.0,34.0,8,2,29,10,3,0,2012-2013 Barclays Premier League,9,5,345671,3
4,Chelsea,Southampton,58.0,42.0,6,2,18,3,2,2,2012-2013 Barclays Premier League,4,3,345893,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3759,Brighton & Hove Albion,Arsenal,68.0,32.0,14,7,9,5,2,4,2022-23 English Premier League,7,4,637997,0
3760,Manchester City,Everton,74.0,26.0,2,1,16,3,1,1,2022-23 English Premier League,7,1,637994,1
3761,Fulham,Southampton,62.0,38.0,9,3,8,2,2,1,2022-23 English Premier League,4,4,637996,3
3762,Newcastle United,Leeds United,59.0,41.0,8,1,16,5,0,0,2022-23 English Premier League,9,3,637998,1
3763,AFC Bournemouth,Crystal Palace,59.0,41.0,15,6,6,2,0,2,2022-23 English Premier League,2,7,637989,0

write cleaned file

In [7]:
df.to_csv("../dataset/cleaned_data.csv", index=False)